      <% layout('layouts/boilerplate') %>

        <body>
            <div class="row">
                <h1 class="text-center">New Course</h1>
                <div class="col-6 offset-3">
                    <form action="/courses" method="POST" novalidate class="validated-form">
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" id="title" name="course[title]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        

                        <div class="mb-3">
                            <label class="form-label" for="type">Course Type</label>
                            <select class="form-select" id="type" name="course[type]" required>
                                <option value="" disabled selected>Select course type</option>
                                <option value="paid">Paid</option>
                                <option value="free">Free</option>
                            </select>
                        </div>

                        <div class="mb-3 course-details">
                          <div class="paid-course-details" style="display: none;">
                              <label class="form-label" for="url">Course URL</label>
                              <input class="form-control" type="text" id="url" name="course[courseDetails][courseUrl]" required>
                          </div>
                      
                          <div class="free-course-details" style="display: none;">
                              <label class="form-label" for="ytPlaylistUrl">YouTube Playlist URL</label>
                              <input class="form-control" type="text" id="ytPlaylistUrl" name="course[courseDetails][ytPlaylistUrl]" required>
                          </div>
                      </div>

                        <div class="mb-3">
                            <label class="form-label" for="image">Image URL</label>
                            <input class="form-control" type="text" id="image" name="course[image]" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Description </label>
                            <textarea class="form-control" type="text" id="description" name="course[description]"
                                required></textarea>
                        </div>
                        <label for="tags">Choose course Tags:</label>
                        <p>(CTRL + Click to select Multiple)</p>
                        <select name="course[tags][]" id="tags" multiple>
                            <option value="web-dev">web-dev</option>
                            <option value="ML">ML</option>
                            <option value="mobile">Mobile</option>
                            <option value="language">Programming-Language</option>
                            <option value="javascript">Javascript</option>
                            <option value="react">React</option>
                            <option value="data-structures">Data Structures</option>
                            <option value="frameworks">Frameworks</option>
                            <option value="UI-design">UI-design</option>
                        </select>

                        <div class="mb-3">
                            <button class="btn btn-success">Add Course</button>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                const typeSelect = document.getElementById('type');
                const paidCourseDetails = document.querySelector('.paid-course-details');
                const freeCourseDetails = document.querySelector('.free-course-details');
              
                typeSelect.addEventListener('change', () => {
                  if (typeSelect.value === 'paid') {
                    paidCourseDetails.style.display = 'block';
                    freeCourseDetails.style.display = 'none';
                  } else if (typeSelect.value === 'free') {
                    paidCourseDetails.style.display = 'none';
                    freeCourseDetails.style.display = 'block';
                  }
                });
              </script>